#division1{
    height: 200px;
    border: 10pxd dotted black;
    background-image: url('images/google.jpg');
    padding: 20px;
        
}
#division2{
    border: 10px dotted black;
    background-color: aqua;
       padding: 20px;
    background-clip: padding-box;
}
#division3{
    border: 10pxd dotted black;
    background-color: aqua;
    padding: 20px;
    background-clip: content-box;
}

#division4{
    height: 300px;
    background-image: url(images/google.jpg),url(images/bag.webp),url(images/drive.webp);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 0px 50px,200px 0,400px 50px;
    
}

#division5{
    height: 200px;
    width: 200px;
    border: 2px solid red;
}
p{
    border: 2px solid black;
}
